@page
@model Student_Management_Application.Pages.SuccessUpdationModel
@{
}

<br />
<br />
<h2 style="color:blue">Contact Details Updated Successfully</h2>
<br />
<hr />
<br />
<a href="/Student">Home</a>