@page
@model Student_Management_Application.Pages.UpdateStudentModel
@{
}


<html>
<body>
    <br />
    <br />
    <h2>Updation Form</h2>
    <br />
    <hr />
    <br />

    <form method="post">
        <table>
            <tr>
                <td>StudentID</td>
                <td><input type="text" name="id" id="id" class="form-control" /></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="con" id="con" class="form-control" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Update" class="form-control" /></td>
            </tr>


        </table>
        <br />
        <hr />
        <br />

    </form>


</body>
</html>